@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import "variables";

body {
	background: #fff;
}

body, html {
	padding: 0;
	margin: 0;
	width: 100%;
	min-height: 100vh;

}

h1 {
	font-size: 18px;
}

p, span {
	font-size: 14px;
}

#app {
	font-family: 'Lato', sans-serif;
}
*::-webkit-scrollbar {
	width: 7px;               /* width of the entire scrollbar */
}

*::-webkit-scrollbar-thumb {
  background-color: $grey;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}
